
#myBody {
    background-color: #9fcacf;
  }
#myBoton{
  margin: 12px;
  height: 50px;
  width: 120px;
  border-radius: 10px;
  background: #333;
  justify-content: center;
  align-items: center;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
  font-family: 'Damion', cursive;
  border: none;
  font-size: 16px;
  color: rgb(161, 161, 161);
  transition: 500ms;
}

boton:hover {
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #444;
  color: #d6d6d6;
  transition: 500ms;
}

#myTitulo{
  font-size: 40px;
  

  color: #1CA085;


}

#login-box-msg{
  font-size: 30px;
  
color: #2b7cb3;
  


}

#myDiv {
  border: 10px solid rgb(63, 89, 201);
}
