
#myBody {
    background-color: #ffffff;
  }
#myBoton{
    background: #FBCA1F;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}
#myTitulo{
  font-size: 40px;
  color: #030fb6;

}
#myDiv {
  border: 10px solid rgb(0, 47, 255);
}
